[submodule "compiler-core"]
	path = compiler-core
	url = https://github.com/federicozanardo/compiler-core
[submodule "storage-core"]
	path = storage-core
	url = https://github.com/federicozanardo/storage-core
